.App {
  text-align: center;
}

.Game-finish {
  position: absolute;
  width: 600px;
  top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;

  background-color: #aaa;

  text-align: center;

  z-index: 10;
}

.Game-finish p:first-child {
  margin-top: 20px;
}

.Game-finish button {
  margin-bottom: 20px;
}

.App-header {
  padding: 20px;
}

.App-header img {
  width: 250px;
  height: auto;
}

.App-header h2 {
  margin-top: 0;
  color: #ddd;
}

.App-score {
  height: 300px;
  width: 100px;
  display: inline-block;
  padding: 20px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: rgba(0, 0, 0, 0.5);

  color: #ddd;
  text-align: center;
}

.App-score ul {
  padding-left: 0;
  list-style-type: none;
}

.App-gameBoard {
  display: inline-block;
  padding: 20px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  background-color: rgba(0, 0, 0, 0.5);
}

.App-intro {
  font-size: large;
}

.App-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.App-cards:hover {
  cursor: pointer;
}

.cardFlipped .pokemon {
  animation-fill-mode: forwards;
  animation-name: pokemon;
  animation-duration: 200ms;
}

.cardFlipped .pokeball {
  animation-fill-mode: forwards;
  animation-name: pokeball;
  animation-duration: 200ms;
}

@keyframes pokemon {
    50%  { transform: rotateY(90deg); }
    100% { transform: rotateY(0deg); }
}

@keyframes pokeball {
    0%  { transform: rotateY(0deg); }
    50% { transform: rotateY(90deg); }
    100% { transform: rotateY(90deg); }
}

.App-cards .App-card img {
  position: absolute;
  display: block;
  width: 100px;
  height: auto;
}

.pokeball {
  transform: rotateY(0deg);
}

.pokemon {
  transform: rotateY(90deg);
}

.App-cards .App-card img:last-child {
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
